[Unit]
Description=Emacs: the extensible, self-documenting text editor
Documentation=man:emacs(1) info:Emacs

[Service]
ExecStart=/snap/bin/emacs --fg-daemon
Environment=SSH_AUTH_SOCK=%t/keyring/ssh;SHELL=zsh
StandardOutput=journal+console
StandardError=journal+console
Restart=always
Type=simple
TimeoutStartSec=0

[Install]
WantedBy=default.target
