[Unit]
Description=Emacs: the extensible, self-documenting text editor
Documentation=man:emacs(1) info:Emacs

[Service]
ExecStart=/bin/bash -l -c 'exec /usr/local/bin/emacs --fg-daemon'
ExecStop=/usr/local/bin/emacsclient --eval "(kill-emacs)"
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=default.target
