[alias]
	b = branch
	bd = branch -d
	bdd = branch -D
	ci = commit
	cia = commit --amend
	co = checkout
	cp = cherry-pick
	d = difftool
	m = mergetool
	rb = rebase
	st = status
	spop = stash pop
	
	ds = diff --staged
	rha = reset --hard
	ski = stash --keep-index
	
	l = log --pretty=oneline --abbrev-commit
	ll = log --color --graph --pretty=format:'%C(auto)%h %d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg = log --color --graph --pretty=format:'%C(auto)%h %d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lll = log --color --graph --pretty=format:'%C(auto)%h %d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --stat
	pu = "!f() { git push -u ${1:-origin} `git symbolic-ref --short HEAD`; }; f"
[push]
	default = simple
[merge]
	ff = yes
	tool = vimdiff
	conflictStyle = diff3
[mergetool]
	prompt = false
[core]
	autocrlf = input
[color]
	ui = auto
[diff]
	tool = vimdiff
	conflictstyle = diff3
	algorithm = patience
[rerere]
	enabled = true
[include]
	path = ~/.gitlocal
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
[sumbodule]
	stickyRecursiveClone = true
